<mat-form-field appearence='fill'>
<mat-select name="category" [(value)]="selectedcategory" (selectionChange)="searchbycategory(selectedcategory)">
  <mat-option></mat-option>
  <mat-option [value]="'general'">General</mat-option>
  <mat-option [value]="'forex'">forex</mat-option>
  <mat-option [value]="'crypto'">crypto</mat-option>
  <mat-option [value]="'merger'">merger</mat-option>
</mat-select>
</mat-form-field>
<div class='news'>
<div class="container" *ngFor="let item of list">
    <div class="photo">
      <img src={{item.image}} alt="image">
    </div>
    <div class="content">
      <div class="title">{{item.headline}}...</div>
      <div class="info">{{item.summary}}...<br> <a href={{item.url}}>Read more</a></div>
      <div class="poster"> {{item.source}} on {{item.datetime}}</div>

    </div>
  </div>
</div>